# NYC Airbnb Data Cleaning
This notebook focuses on cleaning the NYC Airbnb dataset. The goal is to prepare the data for further analysis.

## Initial Data Exploration

In [1]:
import pandas as pd
df = pd.read_csv("AB_NYC_2019.csv")
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

The dataset consists of 48895 entries across the following 16 columns:

1. `id`: The unique identifier for the listing.
2. `name`: The name of the listing.
3. `host_id`: The host's unique identifier.
4. `host_name`: The name of the host.
5. `neighbourhood_group`: The borough the listing is located in.
6. `neighbourhood`: The neighborhood of the listing.
7. `latitude`: The latitude coordinate of the listing.
8. `longitude`: The longitude coordinate of the listing.
9. `room_type`: The type of room offered (e.g., entire home/apt, private room).
10. `price`: The price per night for the listing.
11. `minimum_nights`: The minimum number of nights required for a booking.
12. `number_of_reviews`: The total number of reviews the listing has received.
13. `last_review`: The date of the last review.
14. `reviews_per_month`: The average number of reviews per month.
15. `calculated_host_listings_count`: The number of listings the host has in total.
16. `availability_365`: The number of days the listing is available for booking in a year.

For data cleaning, we can consider the following steps:

1. Handling Missing Values: Identify and handle missing values in columns like name, host_name, last_review, and reviews_per_month.
2. Data Type Corrections: Ensure that each column is of the appropriate data type.
3. Data Consistency: Check for consistency in textual data, such as neighbourhood_group and room_type.
4. Outliers: Identify and handle any outliers, particularly in columns like price, minimum_nights, and number_of_reviews.
5. Duplicate Records: Check for and remove any duplicate entries.

## Handling Missing Values

In [3]:
df.isnull().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

We can replace `name` and `host_name` missing values with uknown.

In [4]:
df.fillna({'name': 'Unknown', 'host_name': 'Unknown'}, inplace=True)

We suspect that all missing values in the `last_review` and `reviews_per_month` columns are due to no reviews being submitted for these columns. We also check that the null values in these columns coincide.

In [5]:
missing_reviews_df = df[df.last_review.isna() & df.reviews_per_month.isna()]
print((missing_reviews_df.number_of_reviews == 0).all())

True

In [6]:
# Checking for any entries with 0 reviews but non-Null values in last_review
df[(df.number_of_reviews == 0) & (df.last_review.notna())].shape[0]

0

In [7]:
missing_reviews_df.shape[0]

10052

In our dataset, we observe that both the `last_reviews` and `reviews_per_month` columns have exactly 10,052 missing values. This exactly matches the number of entries in `missing_reviews_df`, indicating we've captured all missing values. Furthermore, we've confirmed that all entries in `missing_reviews_df` have 0 in the `number_of_reveiws` column.

We've decided to replace missing values in the `reviews_per_month` column with 0. 

As for the `last_review` column, we will retain the null values. Filling these missing values with artificial data could potentially introduce bias or inaccuracies in future analyses, especially in studies focusing on the temporal aspects of reviews.

In [8]:
df.fillna({'reviews_per_month': 0}, inplace=True)

In [9]:
df.isnull().sum()

id                                    0
name                                  0
host_id                               0
host_name                             0
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                     0
calculated_host_listings_count        0
availability_365                      0
dtype: int64

## Data Type Corrections
We now will convert all the non-null values of `last_reviews` to a date-time format.

In [10]:
df.last_review = pd.to_datetime(df.last_review, errors='coerce')
print(df['last_review'].dtype)

datetime64[ns]

In [11]:
df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaT,0.00,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [12]:
df.last_review.isnull().sum()

10052

## Data Consistency
Checking for capitalization errors.

In [13]:
for column in df.select_dtypes(include=['object']).columns:
    # Counting occurrences of each value in original and lowercased form
    original_counts = df[column].value_counts()
    lowercased_counts = df[column].str.lower().value_counts()

    # Finding values with differing counts
    inconsistent_capitalization = set()
    for value in original_counts.index:
        if lowercased_counts[value.lower()] != original_counts[value]:
            inconsistent_capitalization.add(value)

    if inconsistent_capitalization:
        print(f"Potential capitalization issues in column '{column}': {inconsistent_capitalization}")

Potential capitalization issues in column 'name': {'Beautiful 1 bedroom apartment', 'Bedroom with Private bathroom', 'Cozy Room in Manhattan', 'Private room in Greenpoint', 'Simple + Cute + Spacious Studio (perfect for 1-2)', 'Large Room in Spacious Apartment', 'Large room in two-story Brownstone', 'studio apartment', 'NYC Experience', 'Charming 1 bedroom in West Village', 'Spacious 1 Bed in the heart of Manhattan', 'Murray Hill Studio', 'Classic Brooklyn Brownstone', 'Beautiful Apartment, Great Location', 'Beautiful sunny bushwick loft', 'Private room in spacious apartment', 'Cozy home away from home', 'Cozy Studio in Upper East Side', 'Cozy apartment', 'The Garden Apartment', 'New York on the Ocean', 'Room', 'Beautiful Apartment in the heart of Chelsea', 'Cozy room in Brooklyn', 'Private Room in LES', 'YANKEE BASEBALL STAY', 'Private Room in Uptown Manhattan', 'Cozy 1 Bedroom in Upper East Side', 'Spacious Apartment in the heart of Williamsburg', 'Apt in heart of Williamsburg', 'BEAUTIFUL APARTMENT, GREAT LOCATION', '2 bedroom apartment in harlem', 'Private room in Park Slope', 'spacious apartment in Ditmas Park', 'private room near columbia', 'BK Home Away From Home', 'Spacious Room in Park Slope', '1 Bedroom in Williamsburg', 'Charming Upper West Side Apartment', 'Cozy Brooklyn Getaway', 'PRIVATE ROOM in the heart of MANHATTAN', 'Charming Studio Apartment', 'Private Room in Greenpoint', 'Greenpoint getaway', 'Central Park Studio', 'Brooklyn paradise', 'East Village Sanctuary', 'Beautiful bright room in Soho', 'Le Chateau Vacation', 'Cozy Private Room', 'Beautiful private room!', 'Spacious One Bedroom Apartment', 'Big Private Room in Manhattan', 'Private Bedroom in Bedstuy!', 'Large Room in Washington Heights', 'Spacious private room', 'Penthouse in FiDi', 'Private Room in the heart of financial district', 'MANHATTAN STUDIO', 'Studio apartment in the heart of Chelsea', 'Private room near Columbia', 'Beautiful Bedroom in Manhattan', 'Lovely apartment', 'Cozy Apartment in Brooklyn', 'Your Home Away From Home', 'Cozy private room Near Central Park', 'Charming Studio close to everything', 'New York on The Ocean', 'Private Room in Bushwick!', 'Brownstone Apt near Central Park', 'Cozy One Bedroom Apartment', 'Private room in Williamsburg loft', 'Charming studio in the heart of Astoria', 'Cozy studio on the Upper East Side!', 'Cozy West Village apartment', 'Marsha Inn', 'COZY APARTMENT NEXT TO CENTRAL PARK', 'The garden apartment', 'Lower East Side Gem', 'one bedroom', "Private Room in Hell's Kitchen", 'Lovely room in Williamsburg', 'Brooklyn home', 'HEART OF BUSHWICK', 'Sunny Private Room in Brooklyn', 'Home away from home', 'Heart of the City', 'Spacious East village apartment', 'Your own apartment in Lower Manhattan', 'Spacious 1 bed in the heart of Manhattan', 'Brooklyn home with a view', 'Sunny and Spacious Private Room', 'COSY BEDROOM in CITY CENTER', 'Hip Bushwick apartment', 'Cozy Room Close to Columbia', 'Studio Apartment in the heart of Chelsea', '1 Bedroom', 'Sunny private room in Brooklyn', 'Private Room in WILLIAMSBURG', 'Cozy East Village studio', 'Private room in Manhattan', 'Williamsburg Dream loft', 'Prime East Village 1 bedroom', 'Bedroom with Private Bathroom', 'Private Bedroom in Manhattan', 'Sunny and spacious private room', 'UWS STUDIO', 'beautiful spacious room', '2 Bed 2 Bath Close To Park Pool in building', 'cozy apartment', 'Cozy Studio with private entrance', 'Spacious Apartment in the Heart of Manhattan', 'Cozy 1 bedroom in Clinton Hill', 'Private Room In Upper East Side', 'Brownstone Apt Near Central Park', 'Home away from home.', 'Spacious Apartment in the Heart of Williamsburg', 'Close to East Side Hospitals- Modern 2 Bedroom Apt', 'Sunny studio in midtown Manhattan', 'Beautiful apartment in Williamsburg', 'Beautiful Apartment in Greenpoint', 'Penthouse with Manhattan views', 'Homey, Friendly Apt Share Next To Subway', 'Duplex Apartment', 'Beautiful apartment in Greenpoint', 'Great Apt steps from Central Park', 'room b', '1 BEDROOM in Brooklyn', 'Single Room', 'Lovely Room in Williamsburg', 'Beautiful 1 Bedroom apartment', 'Cozy Studio Apartment', 'Feel at Home', 'LOWER EAST SIDE GEM', 'Private room in beautiful apartment', 'Comfy private bedroom', 'Light-Filled Williamsburg Loft', 'Large private bedroom', 'Home Away from Home in Brooklyn/Queens borderline', 'Room in the Heart of Williamsburg', 'HEART of Manhattan', 'room', 'Private bedroom in Sunny Bushwick Apartment', 'Beautiful Chelsea townhouse bedroom', 'Private room in Uptown Manhattan', 'Cozy Upper East Side studio', 'Greenpoint Getaway', 'Cozy room in Astoria', 'Beautiful 1 Bedroom Apt', 'COMFORT ZONE', 'Best location in ny', 'Brooklyn palace', 'Cozy Studio Close to Central Park', 'Bushwick Loft', 'Charming Brownstone Apartment', 'Bedroom', '1 Bedroom in 2 bedroom Apartment', 'Spacious room in Williamsburg', 'Beautiful Room in Manhattan', 'PentHouse In FiDi', 'Bright Room in Bushwick', '1 bedroom', 'Private bedroom in Manhattan', 'Tranquility', 'GREENPOINT OASIS', 'Lovely studio', 'Sunny Bushwick apartment', 'Cozy Studio in Gramercy', 'Spacious Duplex w/ Additional Loft.', 'Sunny Studio in Chelsea', '*Lovely Apt In Heart Of Park Slope*', 'Private room in Clinton Hill', '1 bedroom in The East Village', 'Deluxe bedroom w/ 2 beds - 3 Stops to Times Square', 'Beautiful studio', 'Cozy private bedroom', 'Your Home away from Home', 'Charming Private Room', 'Cozy home', 'Cozy One bedroom apartment', 'Private Cozy Room', 'Charming upper west side apartment', '1 Bedroom in east village', 'Jades place', 'Charming brownstone apartment', 'Brooklyn home with a View', 'Cozy room in Williamsburg Apartment', 'not available', 'Beautiful Modern Apt in Brooklyn', 'Big private room in Manhattan', 'New York City living', 'Private room in queens', 'Spacious Apartment in Ditmas Park', 'Perfect room in Brooklyn', 'Private Room in Harlem', 'Sunny room', 'Spacious room in Park Slope', 'Park Slope Townhouse', 'COZY STUDIO', 'Private Room in Williamsburg', 'Beautiful Brownstone', 'Spacious 1 Bedroom in East Village', 'Cozy Upper East Side apartment', 'Private room in Upper East Side', 'Private Room in Bed-stuy', 'beautiful 1 bedroom apt', 'Large room in spacious apartment', 'Cozy studio in Upper East Side', 'Bright room in Williamsburg', 'Spacious PRIVATE Room', '1 bedroom in Williamsburg', 'Sunny East Village Apartment', 'large private bedroom', 'Private room in Lower East Side', 'UWS studio', 'Room in house with WiFi and Netflix', '1 bedroom in East village', 'Private Room in Manhattan', '1 Bedroom in Prime Williamsburg', 'Private room', 'Beautiful bedroom in Manhattan', 'Charming Brooklyn studio', 'Private room for rent', 'Cozy private room in Astoria', 'Beautiful Studio', '1 Bedroom in East Village', 'Cozy room in the heart of Astoria', 'MODERN NYC APARTMENT', 'Light-filled Williamsburg Loft', 'Cozy 1 Bedroom in Clinton Hill', 'One Bedroom', 'Beautiful Brooklyn Room', 'Studio near Time Square', 'Private bedroom in Williamsburg', 'bedroom', 'Cozy Private Bedroom', 'Cozy Bedroom', '2 Bedroom Apartment in Harlem', 'Private room in Bushwick!', 'Charming studio in Brooklyn', 'Lovely Private Room in the Heart of Williamsburg', 'Brooklyn apt', 'Hamilton Heights home', 'Greenpoint Room', 'Sunny room in Lower East Side Apt!', 'Room in the HEART of Williamsburg', 'A taste of Brooklyn', 'spacious studio', 'Cozy Guest Room in Brooklyn', 'Private bedroom in BedStuy!', 'Cozy Room', 'Room available in BUSHWICK!', 'Cozy Room in Clinton Hill, Bk', 'Charming Harlem Apartment', 'Private room in Williamsburg', 'Large bedroom', 'Beautiful Apartment in Brooklyn Heights', 'WILLIAMSBURG BEDROOM', 'Private room in Bushwick Loft', 'MOXY NYC DOWNTOWN-7 NIGHTS MIN', 'Time Square private studio', 'Sunny Room in Brooklyn', 'A Room WIth A View', 'Lovely Studio', 'Sunny Studio in Midtown Manhattan', 'Private Room in Brooklyn', 'Private Room in The Heart of Manhattan', 'Beautiful Modern apt in Brooklyn', 'BEAUTIFUL 1 BEDROOM', 'Cozy Studio in the Heart of Greenwich Village', 'Beautiful bedroom in Brooklyn', 'BROOKLYN ROOM', 'Home Away from home', 'Beautiful Brooklyn Studio', 'Private Room near Columbia University', 'Clean and cozy', 'Cozy Bedroom in Harlem', 'Spacious room in great neighborhood', 'Spacious Private Room in the Heart of Williamsburg', 'Upper East Side Cozy Private Room', 'Cozy studio in the Heart of NYC', 'Charming Studio in the Heart of Astoria', 'Spacious East Village Apartment', 'Private room!', 'Lovely room in Brooklyn', 'Central Park studio', 'Private Room in the heart of Manhattan', 'Cozy Home Away from Home', 'Upper west side room', 'Large room in Washington Heights', 'Cozy Room in Chelsea', 'beautiful one bedroom apartment', 'Cozy Apartment Next To Central Park', 'Modern NYC Apartment', 'Private room in East Harlem', 'Private Bedroom in Bushwick', 'Charming Brooklyn Studio', 'Brooklyn room', 'Beautiful Apartment in the Heart of Harlem', 'Private Room in Bushwick', 'Master Bedroom in Luxury Building', 'Great Studio Near Time Square', 'Private Room in Upper West Side', 'Yankee baseball stay', '1 bedroom in Prime Williamsburg', 'Cozy Room In Clinton Hill, BK', 'Beautiful Room in Bushwick', 'BEAUTIFUL PRIVATE ROOM', 'A room with a view', 'private room', 'Home sweet Harlem', 'Spacious bedroom near Prospect Park', 'Apt in Heart of Williamsburg', 'Private room in Bushwick', 'Private Room in the heart of Williamsburg', 'Prime West village studio apartment', 'Private bedroom', 'perfect place for tourist, near subway, restaurant', 'Private room in Harlem', 'Perfect place for tourist, near subway, restaurant', 'NOT AVAILABLE', 'Deluxe Bedroom w/ 2 Beds - 3 stops to Times Square', 'Brooklyn Home away from Home', 'Cozy Room In Brooklyn', 'Brand New One bedroom UpperEastSide', 'In the Heart of Williamsburg', 'One Bedroom Apartment in Greenpoint', 'Beautiful sunny Bushwick Loft', 'Brooklyn Studio Apartment', 'Cozy room close to Columbia', 'Spacious Williamsburg Apartment', 'Sunny bedroom in Brooklyn', '1 bedroom in Brooklyn', 'midtown apartment', 'BEDROOM WITH PRIVATE BATHROOM', 'Beautiful Private Room in Brooklyn', 'Sunny room in Brooklyn', 'Cozy studio in Gramercy', 'Beautiful Private room in Brooklyn', 'HOME SWEET HOME', 'In the heart of Williamsburg', 'Private room near Central Park', 'Room for rent', 'Cozy Apartment near Central Park', 'Cozy Upper East Side Studio', 'NYC From Astoria Queens', 'Comfortable Room in Bushwick', 'cozy bedroom', 'Beautiful Bright Room in Soho', 'Spacious One bedroom apartment', 'Private Room in Williamsburg Loft', 'Time Square Private Studio', 'bedroom in big sunny loft (& Roof!)', 'Cozy and sunny 2 bedroom apartment', 'Sunny Room in Williamsburg', 'East Village Apartment', 'beautiful brownstone', 'Perfect Location!', 'ARTIST SPACE', 'BEAUTIFUL WEST VILLAGE APARTMENT', 'nyc studio apartment', 'cozy manhattan hideaway', 'Comfortable room in bushwick', 'SoHo Studio', 'Cozy private bedroom in Manhattan', 'Private room in Apartment', 'Beautiful apartment in the heart of Harlem', 'Greenpoint Apt', 'SUNNY PRIVATE ROOM', 'Cozy private room in Brooklyn', 'Private Room In Bushwick', 'Comfortable Living Space', 'NYC Marathon 2019 - Near Carnegie Hall - 2 Nights', 'Huge room in Sunset Park with AC', 'THE Space', 'Cozy guest room in Brooklyn', 'Charming studio close to everything', 'Beautiful Private Room!', 'Brooklyn Apartment', 'Beautiful One Bedroom Apartment', 'Large room in two-story brownstone', 'Beautiful room in Bushwick', 'Private Bedroom and Bathroom in Spacious Apartment', 'Greenpoint apt', 'Private room in East Village', 'Spacious Room in hip Williamsburg', 'HOME AWAY FROM HOME', 'Perfect location!', 'Beautiful Chelsea Townhouse bedroom', 'Spacious apartment in Brooklyn', 'Home sweet Home', 'Penthouse with Manhattan Views', 'Cozy Private Room in the heart of Bushwick', 'Cozy Bedroom in a great location.', 'Private Bedroom', 'Greenpoint apartment', 'Cozy Studio on the Upper East Side!', 'Cozy room in Williamsburg apartment', 'In the heart of the East Village', 'COZY ROOM', 'One bedroom apartment in Greenpoint', 'Cozy studio in the heart of Manhattan', 'One bedroom', 'Bushwick Brownstone, Long-term Stay', 'Private Room in Upper East Side', 'Large Sunny Apartment', 'Chelsea studio', 'Cozy 1 bedroom in Upper East Side', 'Cozy Apartment in Williamsburg', 'Room in house with WIFI and Netflix', "Cozy Room in Hell's kitchen", 'Cozy, Friendly Apt Share for Young Professionals', 'Cozy bedroom in Harlem', 'Private Room Near Prospect Park', 'Room with a View', 'Manhattan room', 'The Space', 'Spacious Studio in Midtown Manhattan', 'Charming East Village Apartment', 'Cozy Room in East Williamsburg', 'A Bay Window on Brooklyn', 'Cozy Room In Williamsburg Apartment', 'Artist space', 'Beautiful apartment in Brooklyn Heights', 'Master bedroom in luxury building', 'The Spot', 'Cozy Private Bedroom in Manhattan', 'Beautiful Brooklyn studio', 'Cozy room in Chelsea', 'Great Apt Steps from Central Park', 'Private room in WILLIAMSBURG LOFT', 'Spacious and bright bedroom', 'Moxy NYC Downtown-7 Nights Min', 'Brooklyn Palace', 'Cozy Studio apartment', 'Room For Rent', 'Cozy bedroom in Downtown Manhattan', 'Private Room', 'Spacious Duplex w/ additional loft.', '*Lovely Apt in Heart of Park Slope*', 'Sunny private bedroom', 'Cozy Private Room in Astoria', 'Large Bedroom', 'Beautiful East Village apartment', 'in the heart of williamsburg', 'Newly renovated apartment in the heart of Brooklyn', 'Two Bedroom Apartment in Williamsburg', 'Two bedroom apartment in Williamsburg', 'Bright Room in Williamsburg', 'Cozy Brooklyn getaway', 'Private Bedroom in Williamsburg', 'SUNNY ROOM', "Brooklyn's Finest", 'Sunny and Spacious Private Bedroom', 'Cozy studio with private entrance', 'Large spacious room', 'TRANQUILITY', 'Beautiful Bedroom in Brooklyn', '2 Bed 2 Bath Close to Park pool In Building', 'Sunny Apartment in Clinton Hill', 'Private Room in Clinton Hill', 'Beautiful Private Room', 'Bushwick loft', 'Private Room Available!', 'Private Room in Hamilton Heights', 'Comfortable living space', 'Lovely Apartment Near Prospect Park', 'Midtown Apartment', 'Beautiful private room in Brooklyn', 'CLOSE TO EAST SIDE HOSPITALS- Modern 2 Bedroom Apt', 'Private Room!', 'Cozy Room in Harlem', 'Cozy apartment in Brooklyn, NY', 'Cozy room', 'Cozy Room in Brooklyn', 'Williamsburg Dream Loft', 'Room in the heart of Williamsburg', 'Cozy Studio in the heart of NYC', 'Cozy West Village Apartment', 'Studio Apartment', 'UES oasis', 'cozy room in brooklyn', 'Brooklyn Apt', 'Perfect Location in Manhattan', '1 Bedroom in 2 Bedroom Apartment', 'private room in Astoria', 'HEART of MANHATTAN', 'Modern Apartment in The Heart of Brooklyn', 'Comfort Home', 'Tu Tranquilidad no tiene precio', 'Home away from Home', 'Brooklyn Home with a View', 'Cozy Room In the Heart of Astoria', 'Le Chateau vacation', 'Sunny apartment in Clinton Hill', 'Cozy and Sunny 2 bedroom apartment', 'Private Room for Rent', 'Cozy Room in Upper East Side', "Cozy Room in Hell's Kitchen", 'Lovely room In Williamsburg', 'Brooklyn Home With A View', 'Cozy upper east side studio', 'Cozy Private room near Central Park', 'Private Room in the Heart of Financial District', 'Prime East Village 1 Bedroom', 'Lovely private room in the heart of Williamsburg', 'Spacious Room in Williamsburg', 'Brooklyn Paradise', 'Stylish Windsor Terrace Flat', 'Cozy room in the heart of Bushwick', '1 bedroom in the East Village', 'Cozy East Village Studio', 'Cozy bedroom in downtown Manhattan', 'Cozy one bedroom apartment', 'Marsha INN', 'Sunny Room in the heart of Williamsburg', 'East Village gem', 'East village apartment', 'Prime Park Slope apartment', 'Manhattan Studio', 'Lovely Room in Brooklyn', 'Large Sunny apartment', 'Great studio near TIME SQUARE', 'room in Harlem', 'Beautiful room in Manhattan', 'Tu tranquilidad no tiene precio', 'Private Room In Hamilton Heights', 'NYC Studio Apartment', 'Home Away from Home', 'Kew gardens', 'Cozy bedroom', 'BEAUTIFUL BROOKLYN ROOM', 'large spacious room', 'Charming private room', 'Cosy Bedroom in CITY CENTER', 'Cozy Studio in the Heart of Manhattan', 'Cozy Apartment', 'Your home away from home', 'Brooklyn house', 'Private Room in Bushwick, Brooklyn', 'Cozy Room in the heart of Bushwick', 'Spacious duplex apt in Brooklyn', 'HOME AWAY', 'Jades Place', 'Bright room in Bushwick', 'Soho 1 Bedroom', 'Cozy Studio', 'Room with a view', 'Heart of the city', 'Upper West Side Room', 'Cozy, Friendly Apt Share For Young Professionals', 'very small room near Columbia Uni med school', "Private room in Hell's Kitchen", 'Cozy Apartment Near Central Park', 'Duplex apartment', 'Clean and Cozy', 'Room available in Bushwick!', 'Greenpoint room', 'Home away from Home in Brooklyn/Queens borderline', 'Sunny bedroom in Williamsburg', 'Great Studio near Time Square', 'COZY SPOT', 'Lovely bedroom', 'Beautiful Apartment in Williamsburg', 'Brooklyn apartment', 'Private bedroom in Bushwick', 'Private Room in Williamsburg Apt', 'The spot', 'Cozy Apartment in Brooklyn, NY', 'Private Room in East Harlem', 'Brooklyn home away from home', 'Prime Park Slope Apartment', 'Sunny Studio near Central Park', 'Sunny Room in Lower East Side Apt!', 'Hamilton heights home', 'Beautiful 1 Bedroom Apartment', 'Cozy room in bushwick, Brooklyn', 'Private Room in Luxury Building', 'Lovely room', 'Cozy studio in the heart of Greenwich Village', 'Crash pad', 'Sunny Bedroom in Brooklyn', 'Sunny Room', 'Large Private Bedroom', 'Room With A View', 'Room in Harlem', 'Private sunny room in Bushwick', 'Spacious and bright Bedroom', 'Home Away', 'Cozy studio close to Central Park', 'Single room', 'Private Room in East Village', 'Cozy Private room in Brooklyn', 'Private Room in Lower East Side', 'Private room in luxury building', 'Bushwick Brownstone, Long-Term Stay', 'Spacious Duplex Apt in Brooklyn', 'Charming Studio in Brooklyn', 'Cozy Upper East Side Apartment', 'Cozy Home', 'Cozy 1 Bedroom Apartment', 'BEDROOM IN UWS', 'SoHo 1 Bedroom', 'Private room in Queens', 'Large one bedroom apartment', 'THE LOFT', 'Private Room in Bed-Stuy', 'Cozy Private Room in Brooklyn', 'Room with Private Bathroom', 'Modern Apartment in the heart of Brooklyn', 'Spacious Williamsburg apartment', 'Room with private bathroom', 'One bedroom apartment', 'Cozy UES studio', 'Manhattan Room', 'The Loft', 'Sunny Private Bedroom', 'Cozy Private Room near Central Park', 'Lovely Apartment', 'Private Room in Astoria', 'Private cozy room', 'Bedroom in UWS', 'Private room near Prospect Park', 'Spacious 1 bedroom in East Village', 'A TASTE OF BROOKLYN', 'Your Home Away From Home!', 'Not available', 'Private room in East Williamsburg', 'Cozy Room in Astoria', 'East Village Gem', 'Cozy private room in Williamsburg', 'East Village studio', 'Brooklyn Home', 'Lovely Bedroom', 'Cozy studio apartment', 'Spacious Bedroom near Prospect Park', 'Sunny and Spacious private bedroom', 'A Room With A View', 'Studio Near Time Square', 'Heart of Bushwick', 'Cozy Room in the Heart of Astoria', '1 Bedroom in williamsburg', 'COZY 1 BEDROOM APARTMENT', 'Cozy studio', 'In the Heart of the East Village', 'Meyers Inn', 'Cozy UES Studio', 'Cozy room in NYC', 'Perfect location in Manhattan', 'Private room in Upper West Side', 'Brooklyn House', 'Private room in apartment', 'Private Room in Park Slope', 'Charming Harlem apartment', 'Sunny room in the heart of Williamsburg', 'Sunny Private room in Brooklyn', 'PRIME WEST VILLAGE STUDIO APARTMENT', 'Homey, Friendly Apt Share Next to Subway', 'Your Own Apartment in Lower Manhattan', 'Spacious studio in midtown Manhattan', 'BEST LOCATION IN NY', 'Studio apartment', 'Williamsburg Bedroom', 'Beautiful Apartment in the Heart of Chelsea', 'Your Home Away from Home', 'Cozy room in Manhattan', 'Comfy Private Bedroom', 'Home Sweet Home', 'Cozy apartment in Brooklyn', 'Chelsea Studio', 'Charming 1 Bedroom in West Village', 'Spacious Room in Great Neighborhood', 'Sunny Private Room', 'Cozy room in East Williamsb

We will leave the `name` column unchanged as this is a column of titles for the AirBnB posting. The `host_name` column has some obvious capitalisation errors. These are fixed here.

In [14]:
correct_capitalization = {
    'KImberly': 'Kimberly',
    'JaNae': 'Janae',
    'MaTT': 'Matt',
    'TaRi': 'Tari',
    'FLora': 'Flora',
    'MIchele': 'Michele',
}

# Apply corrections
for incorrect, correct in correct_capitalization.items():
    df['host_name'] = df['host_name'].replace(incorrect, correct)

In [15]:
# Counting occurrences of each value in original and lowercased form
original_counts = df['host_name'].value_counts()
lowercased_counts = df['host_name'].str.lower().value_counts()

# Finding values with differing counts
inconsistent_capitalization = set()
for value in original_counts.index:
    if lowercased_counts[value.lower()] != original_counts[value]:
        inconsistent_capitalization.add(value)

if inconsistent_capitalization:
    print(f"Potential capitalization issues in host_name: {inconsistent_capitalization}")

Potential capitalization issues in host_name: {'Roseanne', 'WeiWei', 'LaToya', 'Estelle', 'Mackenzie', 'DeShawn', 'Jojo', 'Annmarie', 'Latoya', 'JoLynn', 'JacQueline', 'DeAnna', 'McKenzie', 'Rosemarie', 'Deedee', 'EStelle', 'Jolynn', 'Joann', 'LaTasha', 'JoJo', 'Deshawn', 'Deanna', 'EmiLy', 'Emily', 'Latasha', 'Weiwei', 'MacKenzie', 'RoseAnne', 'AnnMarie', 'JoAnn', 'Lulu', 'Mckenzie', 'LuLu', 'RoseMarie', 'Jacqueline', 'DeeDee'}

In [16]:
correct_capitalization = {
    'EmiLy': 'Emily',
    'EStelle': 'Estelle'
}

# Apply corrections
for incorrect, correct in correct_capitalization.items():
    df['host_name'] = df['host_name'].replace(incorrect, correct)

In [17]:
# Counting occurrences of each value in original and lowercased form
original_counts = df['host_name'].value_counts()
lowercased_counts = df['host_name'].str.lower().value_counts()

# Finding values with differing counts
inconsistent_capitalization = set()
for value in original_counts.index:
    if lowercased_counts[value.lower()] != original_counts[value]:
        inconsistent_capitalization.add(value)

if inconsistent_capitalization:
    print(f"Potential capitalization issues in host_name: {inconsistent_capitalization}")

Potential capitalization issues in host_name: {'Roseanne', 'WeiWei', 'Jojo', 'LaToya', 'Mackenzie', 'DeShawn', 'Annmarie', 'Latoya', 'JoLynn', 'JacQueline', 'DeAnna', 'McKenzie', 'Rosemarie', 'Deedee', 'Jolynn', 'Joann', 'LaTasha', 'JoJo', 'Deshawn', 'Deanna', 'Latasha', 'Weiwei', 'MacKenzie', 'RoseAnne', 'AnnMarie', 'JoAnn', 'Lulu', 'Mckenzie', 'LuLu', 'RoseMarie', 'Jacqueline', 'DeeDee'}

We now check for any spelling inconsistencies that may affect analysis of the `neighbourhood_group` and `neighbourhood` columns.

In [18]:
df.neighbourhood_group.value_counts()

Manhattan        21661
Brooklyn         20104
Queens            5666
Bronx             1091
Staten Island      373
Name: neighbourhood_group, dtype: int64

In [19]:
df.neighbourhood.value_counts()

Williamsburg          3920
Bedford-Stuyvesant    3714
Harlem                2658
Bushwick              2465
Upper West Side       1971
                      ...
Fort Wadsworth           1
Richmondtown             1
New Dorp                 1
Rossville                1
Willowbrook              1
Name: neighbourhood, Length: 221, dtype: int64

In [20]:
# Calculate the frequency of each unique value in the 'neighbourhood' column
neighbourhood_counts = df.neighbourhood.value_counts()

# Choose a threshold to filter low frequency entries.
threshold = 5

# Filter out the neighbourhoods with counts below the threshold
low_freq_neighbourhoods = neighbourhood_counts[neighbourhood_counts < threshold]

# Display the low frequency neighbourhoods
print(low_freq_neighbourhoods)

Todt Hill                     4
Arden Heights                 4
Castleton Corners             4
Mill Basin                    4
Holliswood                    4
Spuyten Duyvil                4
Olinville                     4
Prince's Bay                  4
Breezy Point                  3
Neponsit                      3
Huguenot                      3
Graniteville                  3
Eltingville                   3
Westerleigh                   2
Bay Terrace, Staten Island    2
Co-op City                    2
Howland Hook                  2
Lighthouse Hill               2
Silver Lake                   2
West Farms                    2
Woodrow                       1
Fort Wadsworth                1
Richmondtown                  1
New Dorp                      1
Rossville                     1
Willowbrook                   1
Name: neighbourhood, dtype: int64

Upon manual inspection of the neighbourhoods with low frequency, no apparent spelling errors were identified. However, this review highlighted a potential inconsistency with the neighbourhood name "Bay Terrace, Staten Island". Notably, "Staten Island" is already designated as a borough in the `neighbourhood_group` column. This inclusion might be intended to differentiate this "Bay Terrace" from another in a different borough. To clarify this, we should identify any other neighbourhood entries containing commas. This will help determine if similar naming conventions are used elsewhere in the dataset, and whether any further action is required.

In [21]:
# Filtering the neighbourhoods that contain commas
neighbourhoods_with_commas = df[df.neighbourhood.str.contains(',')]

# Displaying the entries with neighbourhoods that contain commas
neighbourhoods_with_commas[['neighbourhood', 'neighbourhood_group']]

                    neighbourhood neighbourhood_group
25146  Bay Terrace, Staten Island       Staten Island
42862  Bay Terrace, Staten Island       Staten Island

In [22]:
df[df.neighbourhood.str.contains('Bay Terrace')]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
3964,2467377,Centrally located in Bayside / Nice,7801481,Inez,Queens,Bay Terrace,40.78645,-73.77958,Private room,90,3,8,2019-01-15,0.25,2,324
5020,3609762,Sunny spacious 3 BR/ 2Bth in Bayside townhouse,18189519,Irma,Queens,Bay Terrace,40.77995,-73.78506,Entire home/apt,184,3,146,2019-06-19,2.46,1,143
5955,4357892,New!!! 4 BR/2 Bth in a private house.,22727798,Roman,Queens,Bay Terrace,40.77774,-73.78376,Entire home/apt,189,3,85,2019-06-15,1.88,1,330
7068,5094593,Cozy room in a quite neighborhood,7801481,Inez,Queens,Bay Terrace,40.78598,-73.77915,Private room,99,3,4,2018-05-04,0.08,2,7
25146,20148331,"BIG-3 BDRM house, 1hr to Manhattan, near beach",7927832,Yulia,Staten Island,"Bay Terrace, Staten Island",40.55182,-74.14439,Entire home/apt,150,3,1,2018-08-16,0.09,1,0
36669,29151631,The warm place,219666829,Charlotte,Queens,Bay Terrace,40.77971,-73.77857,Shared room,32,2,6,2019-06-23,0.95,1,169
42862,33275070,Modern studio/private entrance/superb location,250580779,Viktoriya,Staten Island,"Bay Terrace, Staten Island",40.55105,-74.13660,Entire home/apt,55,30,2,2019-05-21,0.82,1,0
47850,35945859,纽约的家,98455047,Jessica,Queens,Bay Terrace,40.77415,-73.79218,Entire home/apt,258,1,0,NaT,0.00,1,362

Upon analysis, it was identified that the dataset uses "Bay Terrace, Staten Island" to differentiate it from the "Bay Terrace" neighbourhood in Queens. To maintain the integrity and specificity of the dataset, this naming convention will be preserved as is. However, to ensure clarity for future users of this dataset, a note regarding this particular naming distinction will be included in the README file accompanying the dataset. This is intended to prevent any potential confusion or misinterpretation during subsequent analyses.

In [23]:
df.room_type.unique()

array(['Private room', 'Entire home/apt', 'Shared room'], dtype=object)

### Handling Whitespace in Text Data

Having verified the consistency in capitalization, spelling, and format in the key categorical columns such as `neighbourhood_group`, `neighbourhood`, and `room_type`, we now shift our focus to addressing potential whitespace issues in other textual data fields. 

Whitespace issues, particularly leading, trailing, or excessive spaces within text, can impact the accuracy and efficiency of data analysis. These issues are often found in fields with free-form text entered manually by users. 

In the next step of our data cleaning process, we will:

1. **Trim Leading and Trailing Spaces**: Removing any spaces at the beginning or end of the text strings.
2. **Eliminate Extra Spaces Between Words**: Replacing multiple consecutive spaces with a single space to ensure consistency in the data.

We will apply these whitespace handling techniques to relevant columns such as 'description', 'name', and any other columns where free text is entered. This step is crucial for maintaining the quality and reliability of our dataset for subsequent analysis.

In [24]:
# Trim leading and trailing spaces in 'name' and 'host_name' columns
df['name'] = df['name'].str.strip()
df['host_name'] = df['host_name'].str.strip()

In [25]:
# Replace multiple spaces with a single space in 'name' and 'host_name' columns
df['name'] = df['name'].str.replace(r'\s+', ' ', regex=True)
df['host_name'] = df['host_name'].str.replace(r'\s+', ' ', regex=True)